body {
    color: #fff;
    background-color: #000000;
}

.profileImg {
    width: 70%;
    height: auto;
}

.profileHead {
    float: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: white;
}

.menu {
    border: 1px solid #FFF;
    float: right;
}

.menu ul.nav li {
    list-style: none;
    margin: 10px;
    padding: 0;
    color: rgba(42, 21, 232);
    font-family: 'Montserrat', sans-serif;
}

.menu ul.nav li:hover {
    color: #fff;
    background: rgba(42, 21, 232);
}

.main {
    content: " ";
    display: block;
    clear: both;  
}

.main ul {
    border: 1px solid #FFF;
    background-color: #000;
}

#mission {
    text-align: center;
    align-content: center;
    margin: 20px;
}

img {
    width: 900px;
}

.aboutImg {
    width: inherit;
}

.weblink {
    margin: 10px;
    padding: 10px;
    width: 40%;
    border: solid blanchedalmond 5px;
}

.pmList {
    border: solid blanchedalmond 5px;
    padding: 10px;
    float: left;
}

.pair {
    float: left;
    margin: 20px;
    padding: 10px;
}

.footer {
    content: " ";
    display: block;
    clear: both; 
    background-color: #000000;
    align-content: center;
}

@media screen and (max-width: 768px) {
    .wrapper {
        width: 100%;
    }

    .slider {
        width: 91%;
    }

    .jumbotron h1 {
        font-size: 60px;
    }

    .jumbotron p {
        color: white;
        font-size: 40px;
    }

}

@media screen and (max-width: 320px) {
    .wrapper {
        width: 100%;
    }

    .slider {
        width: 91%;
    }

    .jumbotron h1 {
        font-size: 60px;
    }

    .jumbotron p {
        color: white;
        font-size: 40px;
    }

    img {
        max-width: 100px;
    }
}